/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2016 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Typodermic Fonts Inc.
 * License URL: http://www.fontspring.com/licenses/typodermic/webfont
 *
 *
 */
@font-face {
  font-family: 'minisystemregular';
  src: url("../font/minisystem-webfont.eot");
  src: url("../font/minisystem-webfont.eot?#iefix") format("embedded-opentype"), url("../font/minisystem-webfont.woff2") format("woff2"), url("../font/minisystem-webfont.woff") format("woff"), url("../font/minisystem-webfont.ttf") format("truetype"), url("../font/minisystem-webfont.svg#minisystemregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0; }

.yentech-dis-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 126px;
  z-index: 10; }

.yen-share-fb {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center; }
  .yen-share-fb img {
    display: inline-block;
    width: 14px; }

.yen-share-fb:hover {
  opacity: 1; }

.yen-share-twitter {
  width: 30px;
  position: absolute;
  top: 52px;
  right: 10px;
  z-index: 10;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-align: center; }
  .yen-share-twitter img {
    display: inline-block;
    width: 30px; }

.yen-share-twitter:hover {
  opacity: 1; }

#yentech-wrap {
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  background-position: center;
  background-size: cover;
  color: white;
  line-height: 1.2;
  font-family: 'minisystemregular', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: hidden;
  position: relative; }
  #yentech-wrap video {
    position: absolute; }
  #yentech-wrap video.w100 {
    width: 100%;
    height: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%; }
  #yentech-wrap video.h100 {
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%; }

.yentech-bottom {
  position: relative;
  font-size: 0; }
  .yentech-bottom .yen-credits {
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 10px;
    position: relative;
    padding: 5px;
    z-index: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    cursor: default; }
    .yentech-bottom .yen-credits a {
      color: white;
      text-decoration: none; }
  .yentech-bottom .yt-logo {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    display: inline-block;
    opacity: 0.7;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease; }
    .yentech-bottom .yt-logo img {
      width: 30px;
      height: 30px; }
  .yentech-bottom .yt-logo:hover {
    opacity: 1; }

#yentech {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh; }
  #yentech .yen-gallery-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    z-index: 10; }
  #yentech .yen-gallery {
    width: 100%;
    height: 100%; }
  #yentech .yen-arrow {
    position: absolute;
    top: 50%;
    height: 30px;
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    width: auto;
    cursor: pointer; }
  #yentech .yen-prev {
    left: -45px; }
  #yentech .yen-next {
    right: -45px;
    -webkit-transform: translateY(-15px) rotateY(180deg);
            transform: translateY(-15px) rotateY(180deg); }
  #yentech .gallery-cell > img {
    height: 100%; }
  #yentech .yen-gallery-wrap.opacity1 img {
    opacity: 1 !important; }
  #yentech .yen-gallery-wrap img {
    opacity: 0.7;
    -webkit-transition: opacity 3000ms ease 3000ms;
    transition: opacity 3000ms ease 3000ms; }
  #yentech .gallery-cell img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1); }
  #yentech .yen-gallery-wrap:hover img, #yentech .yen-gallery-wrap.hover img {
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease; }

#yen-words {
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21px; }
  #yen-words span {
    color: #db0404;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0; }
  #yen-words span.show {
    opacity: 1; }

img.yen-arrow-down {
  height: 30px;
  -webkit-transform: translateX(-15px) rotateZ(-90deg);
      -ms-transform: translateX(-15px) rotate(-90deg);
          transform: translateX(-15px) rotateZ(-90deg);
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }

img.yen-arrow-down:hover {
  opacity: 1; }

.yen-arrow-down-wrap {
  -webkit-animation: floating 1.3s infinite;
          animation: floating 1.3s infinite;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  cursor: pointer; }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes floating {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@media (orientation: portrait) {
  .gallery-cell {
    height: 100%;
    width: 100%; } }
@media (orientation: landscape) {
  .gallery-cell {
    height: 100%;
    width: 50%; } }
@media (max-width: 500px) {
  .yentech-dis-logo {
    width: 55px; }

  .yentech-bottom .yt-logo {
    display: none; }

  .yen-prev {
    left: -25px; }

  .yen-next {
    right: -25px; } }
/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  filter: alpha(opacity=60);
  /* IE8 */
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30);
  /* IE8 */
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  filter: alpha(opacity=25);
  /* IE8 */
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100);
  /* IE8 */
  opacity: 1; }
