/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2016 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Typodermic Fonts Inc.
 * License URL: http://www.fontspring.com/licenses/typodermic/webfont
 *
 *
 */

@font-face {
    font-family: 'minisystemregular';
    src: url('../font/minisystem-webfont.eot');
    src: url('../font/minisystem-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/minisystem-webfont.woff2') format('woff2'),
         url('../font/minisystem-webfont.woff') format('woff'),
         url('../font/minisystem-webfont.ttf') format('truetype'),
         url('../font/minisystem-webfont.svg#minisystemregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
}

.yentech-dis-logo{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 126px;
	z-index: 10;
}

.yen-share-fb{
	width: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	opacity: 0.7;
	transition: opacity 200ms ease;
	text-align: center;
	img{
		display: inline-block;
		width: 14px;
	}
}
.yen-share-fb:hover{
	opacity: 1;
}

.yen-share-twitter{
	width: 30px;
	position: absolute;
	top: 52px;
	right: 10px;
	z-index: 10;
	opacity: 0.7;
	transition: opacity 200ms ease;
	text-align: center;
	img{
		display: inline-block;
		width: 30px;
	}
}
.yen-share-twitter:hover{
	opacity: 1;
}

#yentech-wrap{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-color: black;
	background-position: center;
    background-size: cover;
	color: white;
	line-height: 1.2;
	font-family: 'minisystemregular', 'Helvetica Neue', Helvetica, sans-serif;
	overflow: hidden;
	position: relative;
	video{
		position: absolute;
	}
	video.w100{
		width: 100%;
		height: auto;
		transform: translateY(-50%);
		top: 50%;
	}
	video.h100{
		height: 100%;
		width: auto;
		transform: translateX(-50%);
		left: 50%;
	}
}

.yentech-bottom{
	position: relative;
	font-size: 0;
	.yen-credits{
		box-sizing: border-box;
		line-height: 1.2;
		font-size: 10px;
		position: relative;
		padding: 5px;
		z-index: 1;
		// opacity: 0.7;
		transition: opacity 200ms ease;
		cursor: default;
		a{
			color: white;
			text-decoration: none;
		}
	}
	// .yen-credits:hover{
	// 	opacity: 1;
	// }
	.yt-logo{
		position: absolute;
		top: 5px;
		right: 10px;
		z-index: 1;
		display: inline-block;
		opacity: 0.7;
		transition: opacity 200ms ease;
		img{
			width: 30px;
			height: 30px;
		}
	}
	.yt-logo:hover{
		opacity: 1;
	}
}

#yentech{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	.yen-gallery-wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		z-index: 10;
	}
	.yen-gallery{
		width: 100%;
		height: 100%;
	}
	.yen-arrow{
		position: absolute;
		top: 50%;
		height: 30px;
		transform: translateY(-15px);
		width: auto;
		cursor: pointer;
	}
	.yen-prev{
		left: -45px;
	}
	.yen-next{
		right: -45px;
		transform: translateY(-15px) rotateY(180deg);
	}
	.gallery-cell>img{
		height: 100%;
	}
	.yen-gallery-wrap.opacity1 img{
		opacity: 1!important;
	}
	.yen-gallery-wrap img{
		opacity: 0.7;
		transition: opacity 3000ms ease 3000ms;
	}
	.gallery-cell img{
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}
	.yen-gallery-wrap:hover img, .yen-gallery-wrap.hover img{
		opacity: 1;
		transition: opacity 200ms ease;
	}
}

#yen-words{
	z-index: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 21px;
	span{
		color: #db0404;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		opacity: 0;
	}
	span.show{
		opacity: 1;
	}
}

img.yen-arrow-down{
	height: 30px;
	transform: translateX(-15px) rotateZ(-90deg);
	opacity: 0.7;
	transition: opacity 200ms ease;
}

img.yen-arrow-down:hover{
	opacity: 1;
}

.yen-arrow-down-wrap{
	animation: floating 1.3s infinite;
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 10;
	cursor: pointer;
}

@keyframes floating{
	0%{
		transform:translateY(0)
	}
	50%{
		transform:translateY(10px)
	}
	100%{
		transform:translateY(0)
	}
}

@media (orientation: portrait){
	.gallery-cell{
		height: 100%;
		width: 100%;
	}
}

@media (orientation: landscape){
	.gallery-cell{
		height: 100%;
		width: 50%;
	}
}

@media (max-width: 500px){
	.yentech-dis-logo{
		width: 55px;
	}
	.yentech-bottom .yt-logo{
		display: none;
	}
	.yen-prev{
		left: -25px;
	}
	.yen-next{
		right: -25px;
	}
}

@import 'flickity';